  @import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
*{ 
    /* font-family:'Schibsted Grotesk', sans-serif; */
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;    
}

:root{
  --color-principal:#95a4bd;
  --color-secundario:#DEBFC5;
  --color-txt-claro:#02171d;
  --color-fondo-claro:#dab6efc5;
  --color-contraste:#cd934e;
  --color-terciario:#7184a3;
  --color-txt-oscuro:#fff;
  --color-alerta:#f50606d9;
  --fondo-suave:#e3eaf8;
  --fondo-tenue:#c5d7f4;
  --transicion:0.3s;
  --transicion-suave:0.4s;
  
  /* sombras */
  --sombra: 2px 2px 2px 2px #cd934e26;
  --sombra-oscura: 1px 1px 5px 1px #5b5d5d; 

}

/* barras-desplazamientos */

/* html::-webkit-scrollbar{
  width: 0.3rem;
}

html::-webkit-scrollbar-thumb{
  background: transparent;
}
html::-webkit-scrollbar-track {
  background: var(--color-txt-oscuro);
  border-radius: 3rem;
} */

/* header, header div{
  border: #02171d solid 1px;
} */


header {
  position: relative;
  display: flex;
  /* overflow: hidden; */
  margin: 5px auto 5px;
  padding: 1px 50px;
  width: 87%;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  background:#ffd0f0d7;
  transition: 0.5s linear;
  border-radius: 0.5rem;
   
}

.logo{
  display: flex;
  align-items: center;
  font-family: 'Italiana', serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-txt-claro);
  text-decoration: none;
  column-gap: 0.2rem;
}

.logo img{
  width: 70px;
  height: 70px;
}

.menu {
  display: flex;
  position: absolute;
  column-gap: 2.4rem;
  margin: 25%;
}

.menu a {
  position: relative;
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-texto-claro);
  text-decoration: none;
  transition: 0.3s;
  border-radius: 3px;
  
}

.menu a:hover{
  /*font-size: 1.1rem;*/
  /*letter-spacing: 1px;*/
  color: var(--color-txt-oscuro);
  background-color:#e9ac5c;
  transition: 0.3s;
}

.menu-iconos{
  position: absolute;
  right: 1rem;
  font-size: 25px;
  cursor: pointer;
  z-index: 100000;
  transition: var(--transicion);
}
#buscar-icono:hover, #usuario-icono:hover, #carrito-icono:hover{
  color: #fff;
  background: #e9ac5c;
  transition: var(--transicion);
}
.iconos{
  padding: 10px;
  border-radius: 3px;
}

#menu-icono{
  display: none;
}
.contenedor{
  overflow: hidden;
  position: relative;
  display: flex;
  margin: 5px auto; 
  /* height: 350px; */
  width: 87%;
  z-index: 1100;
  background: #b1f6df;
  border: #02171d solid 1px;
}

.cuadro-busqueda{
  display: flex;
  position: absolute;
  top: -100px;
  right: 0.5px;;
  padding: 15px 20px;
  background: var(--color-fondo-claro);
  border-radius: 0.5rem;
  box-shadow: var(--sombra-oscura);
  transition:var(--transicion-suave);
  z-index: 1000;
}

.cuadro-busqueda.activo{
  display: flex;
  top: 80px;
  transition:var(--transicion-suave);
}

.carrito-vista{
  display: flex;
  position: absolute;
  top: -400px;
  right: 0.5px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  background: var(--color-fondo-claro);
  border-radius: 0.5rem;
  box-shadow: var(--sombra-oscura);
  transition:var(--transicion-suave);
  z-index: 1000;
  
}

.carrito-vista.activo{
  display: flex;
  top: 80px;
  transition:var(--transicion-suave);
  z-index: 1000;
}

.ingreso{
  display: flex;
  position: absolute;
  top: -300px;
  right: 0.5px;;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  background: var(--color-fondo-claro);
  padding: 20px;
  border-radius: 0.5rem;
  box-shadow: var(--sombra-oscura);
  transition: var(--transicion-suave);
  z-index: 1000;
}

.ingreso.activo{
  display: flex;
  top: 80px;
  transition: var(--transicion-suave)
}

.cuadro-busqueda input{
padding: 10px;
border: none;
width: 280px;
outline: none;
border-radius: 0.5rem;
}

.carrito-vista a{
  text-decoration: none;
}

.carrito-vista img{
  width: 100px;
}

.carrito-vista .cuadro{
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.carrito-vista .cuadro .texto h3{
  font-size: 1rem;
}

.carrito-vista .cuadro .bx{
  font-size: 24px;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.carrito-vista .cuadro .bx:hover{
  color: var(--color-txt-oscuro);
  background: var(--color-alerta);
}

.carrito-vista h2{
  font-size: 1.1rem;
  font-weight: 500;
}

.ingreso h2{
  font-size: 1.2rem;
  color: var(--color-txt-claro);
}

.ingreso .txt{
  width: 100%;
  margin: 2px;
  padding: 0.7rem 1.2rem;
  outline: none;
  background: var(--fondo-suave);
  border: none;
  border-radius: 0.5rem;
}

.ingreso .btn {
  margin: 10px;
}
.ingreso p{
  font-size: 0.8rem;
}


/* -------------------------------------------- */
/* FIN DEL HEADER Y LOS ELEMENTOS DE NAVEGACION */
/* -------------------------------------------- */

.deco{
  box-shadow: 5px 5px 1rem rgba(57, 56, 56, 0.935);
  border-radius: 0.5rem;
  background-color: #f7fcf9a5;
  
}

.carrusel{
  width: 70%;
  margin: 10px auto;
  max-width: 120rem;
  height: 50vh;
  padding: 2em;
  overflow: hidden;
}

.carrusel .imagenes{
  width: 200%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  transition:  all .5s ease;
  transform: translateX(-50%);
  
  
}

.carrusel img{
  width: calc(100% / 2 - 2rem);
  min-height: 5vh;
   
}

.carrusel .puntos {
  width: 100%;
  margin: 1rem 0  0;
  padding: 0.4rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carrusel .punto {
  width: 1rem;
  height: 1rem;
  margin: 1rem 1rem 0;
  padding: 1rem;
  border-radius: 50px;
}

.carrusel .punto.activo {
  background-color: orange;
}


/* ----------------------------------------- */
/*------------ clase para botones ----------*/
/* ----------------------------------------- */

.btn {
  display: inline-block;
  /*  width: 180px;*/
  border:none;
  padding: 0.7rem;
  background: var(--color-terciario);
  font-weight: 500;
  color: var(--color-txt-oscuro);
  text-decoration:none;
  letter-spacing: 3px;
  text-transform: uppercase;
  align-content: center;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover{
  background: #cd934e;
  color: #dae2f1;
  letter-spacing: 5px;
  transition: 0.2s;
}

.btn:activo{
  color:#d000eb;
  background: wheat;
  transition: 0.2s;
}